body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: 'item1 item2';
  height: 100vh;
}

#item1 {
  grid-area: item1;
  background-color: lightskyblue;
  display: grid;
  place-items: center;
}

#item2 {
  grid-area: item2;
  background-color: lightcoral;
  display: grid;
  place-items: center;
}

.button {
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  padding: 0.5rem 2rem;
}

.btn-1 {
  color: #fff;
  border: solid 0.2rem lightcoral;
  transition: border-width 500ms linear;
  background-color: tomato;
}

.btn-1:hover {
  border-width: 0.5rem;
}

.btn-2 {
  color: #fff;
  box-shadow: 0 0 0 0.2rem lightblue;
  transition: box-shadow 500ms linear;
  background-color: lightskyblue;
}

.btn-2:hover {
  box-shadow: 0 0 0 0.5rem lightblue;
}

@media (max-width: 500px) {
  .container {
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'item1' 'item2';
  }
}
